* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* *************************************************************** */

nav {
  height: 80px;
  display: flex;
  padding: 0 200px;
  align-items: center;
  justify-content: space-between;
}

nav .nav-logo {
  height: 25%;
}

nav .link-s {
  list-style: none;
  display: flex;
}

nav .link {
  margin: 0 20px;
  font-size: 17px;
  text-transform: uppercase;
}

nav .link a {
  text-decoration: none;
  color: black;
}

/* *********************************************************************** */

.intro-section {
  display: flex;
  background-color: rebeccapurple;
  background-color: hsl(256, 26%, 20%);
  padding: 0 200px;
  height: 600px;
  color: white;
}

.intro-text {
  margin-top: 90px;
  width: 50%;
}

.intro-title {
  font-size: 70px;
  line-height: 60px;
  margin-top: 70px;
  margin-bottom: 25px;
}

.intro-description {
  font-size: 20px;
  line-height: 30px;
}

.intro-btn {
  border: none;
  padding: 12px 40px;
  font-size: 18px;
  margin-top: 30px;
}

.intro-btn a {
  text-decoration: none;
}

.intro-image {
  right: 0;
  position: absolute;
  margin-right: 200px;
  margin-top: 90px;
  z-index: 3;
}

/* *************************************************************** */

main {
  padding: 0 200px;
  margin-top: 250px;
}

main .title {
  font-size: 70px;
}

main .box {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 80px;
}

main .box-item {
  margin-right: 15px;
}

main .item-icon {
  margin-bottom: 5px;
}

main .item-title {
  margin: 20px 0;
}

main .item-description {
  line-height: 27px;
  font-size: 18px;
  opacity: 50%;
  max-width: 90%;
}

main .box-2 {
  height: 260px;
  display: flex;
  color: white;
  padding: 0 80px;
  margin-top: 130px;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(256, 26%, 20%);
}

main .box-2-title {
  font-size: 60px;
  line-height: 65px;
}

main .box-2-btn {
  border: none;
  padding: 15px 40px;
  text-transform: uppercase;
}

/* ****************************************************************** */

footer {
  padding: 0 200px;
  position: relative;
  margin-top: 150px;
}

footer .footer-image {
  height: 25%;
}

footer .socials-container {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

footer .social-icon {
  margin: 5px;
  opacity: 50%;
}

footer .social-icon:hover {
  opacity: 100%;
}

footer .contact-icons:hover {
  color: yellow;
}

footer .company-pages {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

footer .page-group {
  margin-top: 70px;
  text-transform: uppercase;
}
footer .page-title {
  margin-bottom: 30px;
}

footer .page-link {
  list-style-type: none;
  line-height: 30px;
}
footer .page-link a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}
footer .page-link a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */

/* @media screen and (max-width: 500px) {
  body {
    background-color: rebeccapurple;
  }
} */
