* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* .container {
  height: 100vh;
} */

nav {
  /* background-color: black; */
  height: 75px;
  display: flex;
  padding: 0 200px;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  height: 25%;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 20px;
  font-size: 17px;
  text-transform: uppercase;
}

nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li a.active {
  border: 3px solid black;
  padding: 10px 20px;
}
nav ul li a.active:hover {
  background-color: black;
  color: white;
}

/* *********************************************************************** */

.intro-section {
  display: flex;
  background-color: rebeccapurple;
  background-color: hsl(256, 26%, 20%);
  padding: 0 200px;
  height: 600px;
  color: white;

  /* background-size: 30%; */
}

hr {
  position: absolute;
  width: 180px;
}

.intro-text {
  margin-top: 90px;
  width: 50%;
}
.intro-text-title {
  font-size: 70px;
  /* background-color: red; */
  line-height: 60px;
  margin-top: 70px;
  margin-bottom: 25px;
}

.intro-text-description {
  /* background-color: yellow; */
  font-size: 19px;
}

.intro-text-btn {
  /* background-color: green; */
  border: none;
  padding: 15px 35px;
  font-size: 20px;
  margin-top: 30px;
}

.intro-image {
  position: absolute;
  right: 0;
  margin-right: 200px;
  margin-top: 90px;
  z-index: 3;
}

/* *************************************************************** */

main {
  padding: 0 200px;
}

main .title {
  font-size: 60px;
}

main .box {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 50px;
}
/* ****************************************************************** */
.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
  margin-top: 150px;
}

footer img {
  height: 25%;
}

.contact-icons:hover {
  color: yellow;
}

.company-pages-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* padding: 0 200px; */
}

.page-group {
  margin-top: 70px;
  text-transform: uppercase;
}
.page-group > h3 {
  margin-bottom: 50px;
}

.page-group ul li {
  list-style-type: none;
  line-height: 30px;
}
.page-group ul li a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}
.page-group ul li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/* ************************************************** */
footer {
  padding: 0 200px;
  position: relative;
  margin-bottom: 100px;
}

footer .socials-container {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

footer .social-icon {
  margin: 5px;
  opacity: 50%;
}

footer .social-icon:hover {
  opacity: 100%;
}
